<ng-template #dialogTemplate let-data>
    <pep-dialog [showClose]="data?.showClose" [showHeader]="data?.showHeader" [showFooter]="data?.showFooter" [title]="data?.title" (close)="closeDialog($event)">
        <ng-container pep-dialog-content>
            <pep-remote-loader-element *ngIf="remotePathOptions"
                [options]="remotePathOptions"
                [props]="{ hostObject: hostObject }"
                [events]="{ hostEvents: onHostEventsCallback }"
                (load)="onBlockLoad()">
            </pep-remote-loader-element>
        </ng-container>
    </pep-dialog>
</ng-template>