<pep-dialog [title]="'AddDialog_Title' | translate">
    <ng-container pep-dialog-content>
        <pep-textbox
            [value]="name"
            [label]="'AddDialog_Name_Label' | translate"
            type="text"
            [mandatory]="true"
            (valueChange)="nameChanged($event)"
        ></pep-textbox>
        <pep-textarea
            [value]="description"
            [label]="'AddDialog_Description_Label' | translate"
            type="text"
            [rowSpan]="3"
            (valueChange)="descriptionChanged($event)"
        ></pep-textarea>
    </ng-container>
    <ng-container pep-dialog-actions>
        <div class="pep-spacing-element-negative" style="display: flex;">         
            <pep-button 
                class="pep-spacing-element"
                [sizeType]="'md'" 
                [value]="'AddDialog_CancelButton' | translate" 
                [styleType]="'weak'" 
                (buttonClick)="close()"
            ></pep-button>
            <pep-button 
                class="pep-spacing-element"
                [sizeType]="'md'" 
                [value]="'AddDialog_AddButton' | translate" 
                [styleType]="'strong'" 
                (buttonClick)="createFlow()"
                [disabled]="!isValid"
            ></pep-button>
        </div>
    </ng-container>
</pep-dialog>