<pep-generic-list class="generic-list"
    [title] = "'Flows_List_Title' | translate"
    [showTopBar]="true" 
    [dataSource]="dataSource" 
    [inline]="false"
    [actions]="actions"
    [addPadding]="true"
    [showSearch]="true"
    [uuidMapping]="'Key'"
    (fieldClick)="onFieldClick($event)"
    >
    <ng-container right-buttons>
        <pep-button 
            class="pep-spacing-element"
            [sizeType]="'md'" 
            [value]="'Flows_List_AddBotton_Title' | translate"
            [styleType]="'strong'" 
            (buttonClick)="openCreateFlowForm()"
        ></pep-button>
    </ng-container>
</pep-generic-list>