<pep-generic-list #eventsList class="generic-list"
    [title] = "'Events_List_Title' | translate"
    [showTopBar]="true" 
    [dataSource]="dataSource" 
    [inline]="false"
    [actions]="actions"
    [addPadding]="false"
    [showSearch]="false"
    [uuidMapping]="'Key'"
    >
    <ng-container right-buttons>
        <pep-button 
            class="pep-spacing-element"
            [sizeType]="'md'" 
            [value]="'Add' | translate"
            [styleType]="'strong'" 
            (buttonClick)="openEventsForm()"
        ></pep-button>
    </ng-container>
</pep-generic-list>